In [116]:
import pandas as pd # importamos la libreria

In [117]:
serie = pd.Series([1,2,3,4]) #introducimos un vector

In [118]:
serie.name="nombre" #volvemos a reenombrar la serie

In [ ]:
serie

In [120]:
df =pd.DataFrame({"columna":[1,2,3,5],"columna2":["a","b","c","d"]})
#los data frame puedes ingresar los datos de las columnas y final

In [ ]:
df

In [ ]:
df.shape #nos devuelve el tamño del dataFrame

In [123]:
df = pd.read_csv('data/iris.data',header=None)
#abrimos un conjunto de datos, en un archivo
#le decimos que no tiene cabecera

In [ ]:
df.head()
#solo imprimimos la cabecera del DataFrame

In [ ]:
df.head(2) #nos muestrs el numero de filas primeros

In [ ]:
df.tail() # nos muestra los ultimos datos

In [ ]:
df.tail(4) # nos muestra los ultimos datos estre parentesis colocamos cuantas filas queremos ver

In [128]:
nombres=["longitud_sepalo","ancho_sepalo","longitud_petalo","ancho_petalo","clase"]
#introducimos los nombres primero creamos un vector con el nombre de cada columna

In [ ]:
nombres

In [130]:
df.columns=nombres # introducimos los nombres a cada columna

In [ ]:
df.head() #imprimimos para ver qe ya aparezcan los nombres de las columnas

In [ ]:
df.columns #nos devuelve el nombre de las columnas

In [ ]:
df.index #nos devuelve el numero de indices

In [ ]:
df.shape #confimamos que los datos de arriba son correctos

In [ ]:
df.describe() 
#nos devuelve una serie de estadisticas basicas de cada columna

In [ ]:
df["clase"].value_counts()
#cuenta los valores para cada clase

In [ ]:
df.T
#trasponer los datos , cambia indices por columnas

In [ ]:
df.sort_values("ancho_sepalo")
#ordena la tabla segun los valores de menor a mayor

In [ ]:
df.sort_values("ancho_sepalo",ascending=False)
#ordena la tabla segun los valores de mayor a menor

In [ ]:
df[["longitud_sepalo","longitud_petalo"]]

#seleccionamos las columnas que solo que remos mostrar

In [ ]:
df[:3]
#selecciona todos lo s3 primeros casos

In [ ]:
df.iloc[[4,10],[0,2]]
#devuelve la fila 4 y 10 y la columna 0 y 2

In [ ]:
df[(df["longitud_petalo"]>5)]
#filtrar los datos por  una condicion

In [ ]:
df[(df["longitud_petalo"]>5)&(df["longitud_sepalo"]>5)]
#filtrar los datos  por mas de una condicion

In [ ]:
df["longitud_sepalo"]-df["longitud_petalo"]

#operaciones entre columnas

In [ ]:
df.isna().sum().sum() 

#valores perdidos 
#podemos hacer una suma  para sber caso pérdidos

In [147]:
import numpy as np
#importamos la libreria numpy

In [ ]:
df["longitud_petalo"][:2]=np.nan
#para caso de ejempo 
#las dos primeras filas en la columna longitud de petalo 
#los dos primeros dartos son nulos

In [ ]:
df["longitud_petalo"].fillna(2)

# crea un nuevo data frame y rellena rellena los  valores vacion con 2

In [152]:
df["longitud_petalo"]=df["longitud_petalo"].fillna(2)

# sobre escribe el data frame anterior para introducirlo en el pricipal

In [ ]:
df.head()
#imprime las primeras filas para revisar que los datos han sido introduccidos

In [ ]:
df["longitud_petalo"].mean()
#sacar la media de la columana longitus de petalo

In [ ]:
df["longitud_petalo"].median()
#sacar la media de la columna seleccionada

In [ ]:
df["longitud_petalo"].apply(lambda x: -x)
#a cada uno de los valores de nuestra columna se cambia a negativo

In [ ]:
df["longitud_petalo"].apply(lambda x: x**2)
#a cada uno de los valores de nuestra columna se  elevaran al cuadrado

In [ ]:
df.groupby("clase")["ancho_petalo"].mean()
# agrupar  el valor por
#los dtos se agruparon por cada una de las clases y nos dara cada media del ancho del petalo de cada clase

In [165]:
df_group=df.groupby("clase")["ancho_petalo"].mean()

#podemos guardas el nuevo data frame en una variable que 
#se llamara df:grouup

In [168]:
df_group.name="media_ancho_petalo"
#la columna del nuevo data frame le asignamos el nombre de ...

In [169]:
df_group

clase
Iris-setosa        0.244
Iris-versicolor    1.326
Iris-virginica     2.026
Name: media_ancho_petalo, dtype: float64

In [172]:
df_join=df.join(df_group, on=["clase"],how="inner")
#vamos a agregar nuestro data frame df group a el data frame principal

#llamamos un join a nuestro df group

In [173]:
df_join.head()

,longitud_sepalo,ancho_sepalo,longitud_petalo,ancho_petalo,clase,media_ancho_petalo
0,5.1,3.5,2.0,0.2,Iris-setosa,0.244
1,4.9,3.0,2.0,0.2,Iris-setosa,0.244
2,4.7,3.2,1.3,0.2,Iris-setosa,0.244
3,4.6,3.1,1.5,0.2,Iris-setosa,0.244
4,5.0,3.6,1.4,0.2,Iris-setosa,0.244